*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display:flex;
    list-style: none;
    flex-direction: column; 
    width:30%;
}
li{
    display:flex;
    background-color: lightgrey;
    align-items:center;
    padding:1em;
    margin:.2em;
    justify-content: space-between;
}
nav{
    display:flex;
    
}
a{
    text-decoration: none;
    background-color: white;
    padding:.2em;
    color:black;
}