* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}
body{
  justify-content:center;
  align-items:center;
  display:flex;
  height:100vh;
}
main{
  width:70%;
  height:60%;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(4,30%);
  gap:1em;
}
img{
  width:100%;
  height:100%;
  border-radius:10px;
}
.item-a{
	grid-area: 1/1/3/2;
}
.item-b{
	grid-area:1/3/2/5;
}
.item-c{
	grid-area: 2/2/4/3;
}
.item-d{
	grid-area: 3/3/4/5;
}