*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    height:100vh;
}

header{
    text-align:center;
    background-color:red;
    color:white;
}
header h1{
    padding-top:1em;
    
}
header h2{
    padding-top:.5em;
    padding-bottom:.5em;
}
nav{
    display:flex;
    justify-content:space-between;
    background-color:green;
}
nav ul{
    display:flex;
    color:white;
    gap:1em;
    padding:1em .5em 1em .5em;

    list-style: none;
}

.centro{
    display:flex;
    gap:1em;
}
.centro aside{
    width: 30%;
    background-color:rgb(187, 183, 183);
    padding: 1em 1em 1em 1em;
}
.centro aside h1{
    padding-bottom:.5em;
}
img{
    width: 100%;
}
main{
     width:70%;
	padding: 1em;
}

footer{
    background-color:grey;
    padding: 1em 1em 1em 1em;
    text-align:center;
}