*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    height:100vh;
}
.principal{
    gap:1em;
    
}
header{
    background-color:rgb(0, 255, 255);
    text-align:center;
}
.derecha{
    background-color:salmon;
    padding:1em;
    text-align:center;
}
.pie{
    background-color:black;
    padding:1em;
    color:white;
    text-align:center;
}