* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background:#e9e9e9;
}
.contenedor {
	background:#ccc;
}
header, footer {
	background:#2c3e50;
	padding:16px;
	font-size:2em;
}
header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
}
nav{
	background:#c0392b;
}
a{
	color:#fff;
	text-decoration: none;
	padding:10px;
}
nav a:hover {
	background:#e74c3c;
}
.primero{
}
article{
	width: 85%;
	text-align: center;
	margin: .5em 0;
}
img{
	border-radius: 1em;
	padding: .5em;
}
img[alt="logo"]{
	border-radius: 50%;
}
aside {
	background:#e67e22;
	padding:20px;
}
aside .widget {
	background: #d35400;
	height:150px;
	margin:10px;
}
footer {
	font-size: 1em;
}
footer .social {
	background:#e67e22;
}
