*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	height: 100vh;
	display: grid;
	grid-template-rows: 2fr 7fr 1fr ;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: 
	"cab cab cab"
	". . ."
	"foo foo foo";
}
header, footer{
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: cab;
}
footer{
	grid-area:foo;
}
nav, aside{
	padding: 1em;
	background-color: grey;
}
main{
	padding-top: 1.5em;
	background-color: darkgrey;
}
