body {
  color: #000; /* texto negro por defecto */
  margin: 40px;
}
section{
  background-color:grey;
}
h1 {
  text-align: center;
  color: blue;
}

/* Aplica a todos los párrafos */

.parrafo::first-letter{
  color:red;
  background-color:white;
  font-size:3em;
  margin-right:5px;
  float:left;
  line-height:1;
}
.parrafo::first-line,p::first-line {
  font-family: 'Indie Flower', cursive;
  color: red;        /* primera línea roja */
  font-weight: bold; /* opcional, para destacarla un poco más */
}

/* El resto del texto (por defecto negro y normal) */
p {
  color: black;
  font-weight: normal;
  margin-top:40px;
}
