.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 2em; /* Espacio entre filas y columnas */
    height: 100vh;
    color: blue;
}
.container div{
    border: 1px solid blue;
    padding: 1vh;
    box-sizing: border-box;
    background-color: violet;
}
